extends index.pug

block content
  
  div.dashboard
    h1 Gallery
    a(href='gallery/addnew' class='btn') add gallery
    
    div.collection
        each g in gallery
          a.collection-item=g.title
            span.badge=g.images.length
            span.secondary-content(data-id=g._id onclick='deleteGallery(this);') delete
