extends index.pug

block content
  .mdl-grid.portfolio-max-width
    each post in posts
      .mdl-cell.mdl-card.mdl-shadow--4dp.portfolio-card
        .mdl-card__media
          img.article-image(src=post.mainpic, border='0', alt='')
        .mdl-card__title=post.title[lang]
          h2.mdl-card__title-text
        .mdl-card__supporting-text
          | #{post.desc[lang]}
        .mdl-card__actions.mdl-card--border
          a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect.mdl-button--accent(href=lang + '/post/' + post.slug[lang]) Read more
